<div class="actorContent">
    <div class="media">

        {% import "helper.media.nunj.html" as mediaHelper %}

        {{ mediaHelper.header(media.title, media.img, media.mainInformations) }}

        <section class="media--quickActions">
            <a class="media--quickActions--button imageButton" target="_blank"
               href={{media.itunesLink}}>
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>

        <section class="actor--movies"></section>

    </div>
</div>
