<div class="actorContent">
    <div class="media">

        {% import "helper.media.nunj.html" as mediaHelper %}

        {{ mediaHelper.header(media.title, media.img, media.mainInformations) }}

        <section class="media--quickActions">
            {% if media.homepage %}
                <a href="{{ media.homepage }}" class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i class="mdi-action-home left"></i> Homepage
                </a>
            {% endif %}
            <a class="media--quickActions--button imageButton" target="_blank"
               href={{ media.itunesLink }}>
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>

        {% if media.biography %}
            {{ mediaHelper.paragraphSection("Biography", media.biography) }}
        {% endif %}

        <section class="actor--movies"></section>
        <section class="actor--suggestions"></section>

        <!-- Modal Structure -->
        <div id="showTrailerModal" class="modal">
            <div class="modal-content">
                <div class="modal--trailerContainer">
                    <!-- a image for ratio -->
                    <img class="ratio" src="http://placehold.it/16x9"/>
                    <iframe class="modal--trailerVideo" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close closeButton waves-effect waves-red btn-flat">Close</a>
            </div>
        </div>
    </div>
</div>
