<div class="watchListContent">
    <div class="media">
        <section class="media--quickActions">
            <button class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i class="mdi-av-play-circle-outline left"></i> Trailer
            </button>
            <a class="media--quickActions--button imageButton"
               href="{{media.itunesUrl}}">
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>
    </div>
</div>
