
<div class="watchListContent">
    <div class="media">

        {% import "helper.media.nunj.html" as mediaHelper %}
        {% import "helper.media.nunj.html" as watchListHelper %}


        {{ mediaHelper.header(media.title, media.img, media.mainInformations) }}


        <div class="btnNav">

        <section  class="media--quickActions">
            <button id="create" class="media--quickActions--button createWatchlistButton waves-effect waves-light btn-large red"><i
                    class="mdi-av-queue left"></i> New Watchlist
            </button>

            <button id="getList" class="media--quickActions--button createWatchlistButton waves-effect waves-light btn-large red"><i
                    class="mdi-action-view-list left"></i> Get Watchlists
            </button>

            <button id="getList" class="media--quickActions--button createWatchlistButton waves-effect waves-light btn-large red"><i
                    class="mdi-action-search"></i>
            </button>
            <p class="updateTrigger" hidden="hidden"></p>

            <div class="new--watchlist" hidden="hidden">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-av-playlist-add prefix"></i>
                            <input id="watchlist-name" type="text" class="validate">
                            <label for="watchlist-name">Watchlist's name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-av-recent-actors prefix"></i>
                            <input id="user-contact" type="tel" class="validate">
                            <label for="user-contact">Owner: Enter your email</label>
                        </div>
                    </div>
                </form>


                <button id="submit" hidden="hidden" class="media--quickActions--button createWatchlistButton waves-effect waves-light btn-large indigo darken-3"
                        onclick="Materialize.toast('Loading the new watchlist', 4000)"><i class="mdi-content-send left"></i></i> SUBMIT
                </button>


                <div class="progress">
                    <div class="indeterminate"></div>
                </div>

            </div>

        </section>
        </div>



    </div>
    <div class="getWatchList">

        <ul id="watchlist--collection--content" class="collection">
            {{ watchListHelper.showWatchLists(watch.title, watch.id)  }}

        </ul>
    </div>

</div>













