<div class="watchListContent">
    <div class="media">
        <header class="mediaHeader">
            <h2 class="mediaHeader--title">{{ watchList.title }}</h2>
        </header>

        <section class="media--quickActions">
            <button class="media--quickActions--button deleteButton waves-effect waves-light btn-large red darken-2"><i class="mdi-action-delete left"></i> Delete
            </button>
            <button class="media--quickActions--button renameButton waves-effect waves-light btn-large green darken-1"><i class="mdi-image-edit left"></i> Rename
            </button>
        </section>

        <div class="template-reactions"></div>

        {% import "helper.watchList.nunj.html" as watchListHelper %}

        {{ watchListHelper.watchListMoviesList("Movies", watchList.movies) }}

    </div>


    <!-- Modal Structure -->
    <div id="renameWatchListModal" class="modal">
        <div class="modal-content">
            <h4>Rename watchlist</h4>
            <div>
                <div class="input-field">
                    <input id="watchlist_title" type="text" class="validate" onfocus="this.select();" value="{{ watchList.title }}" />
                    <label for="watchlist_title">Obvious Title</label>
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action applyButton waves-effect waves-green btn-flat">Apply</a>
        </div>
    </div>

</div>
