<div class="watchListContent">

    <header class="mediaHeader">
        <h2 class="mediaHeader--title">{{ watchList.title }}</h2>
    </header>

    <div class="media">
        <section class="media--quickActions">
            <button class="media--quickActions--button deleteButton waves-effect waves-light btn-large red darken-2"><i class="mdi-action-delete left"></i> Delete
            </button>
            <button class="media--quickActions--button renameButton waves-effect waves-light btn-large green darken-1"><i class="mdi-image-edit left"></i> Rename
            </button>
        </section>
    </div>

    {% import "helper.watchList.nunj.html" as watchListHelper %}

    {{ watchListHelper.watchListMoviesList("Movies", watchList.movies) }}


    <!-- Modal Structure -->
    <div id="renameWatchListModal" class="modal">
        <div class="modal-content">
            <h4>Rename watchlist</h4>
            <div>
                <div class="input-field">
                    <input id="watchlist_title" type="text" class="validate" onfocus="this.select();" value="{{ watchList.title }}" />
                    <label for="watchlist_title">Obvious Title</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close applyButton waves-effect waves-green btn-flat">Apply</a>
        </div>
    </div>

</div>
