{% macro header(title, image, informations, subtitle) %}
<header class="mediaHeader">
    <div class="mediaHeader--poster">
        <img src="{{ image }}" alt="{{ title }}"/>
    </div>

    <div class="mediaHeader--mainInformations">
        <h2 class="mediaHeader--title">{{ title }}</h2>

        {% if subtitle %}
            <div class="mediaHeader--subtitle">{{ subtitle }}</div>
        {% endif %}

        {% for info in informations %}
            <div class="mainInformations--element">{{ info | safe }}</div>
        {% endfor %}
    </div>
</header>
{% endmacro %}



{% macro trailer(youtubeTrailerUrl) %}
<section id="mediaTrailer" class="mediaTrailer hide" >
    <div class="trailerContainer">
        <!-- a image for ratio -->
        <img class="ratio" src="http://placehold.it/16x9"/>
        <iframe src="{{ youtubeTrailerUrl }}"
                frameborder="0" allowfullscreen></iframe>
    </div>
</section>
{% endmacro %}



{% macro section(title, content, cssId) %}
    <section class="mediaSection" {% if cssId %}id="{{ cssId }}"{% endif %} >
        <div class="mediaSection--titleContainer">
            <h3 class="mediaSection--title">{{ title }}</h3>
            <button class="mediaSection--hideShowButton waves-effect waves-red btn-flat"><i
                    class="mdi-hardware-keyboard-arrow-up"></i></button>
        </div>
        <div class="mediaSection--content">{{ content | safe }}</div>
    </section>
{% endmacro %}



{% macro paragraphSection(title, paragraph) %}
    {{ section(title, "<p>" + paragraph + "</p>") }}
{% endmacro %}



{% macro wordListSection(title, words) %}
    {% import "list.nunj.html" as list %}

    {{ section(title, list.unorderedWordList(words)) }}
{% endmacro %}

{% macro wordWithDataListSection(title, words) %}
    {% import "list.nunj.html" as list %}

    {{ section(title, list.unorderedWordWithDataList(words)) }}
{% endmacro %}

{% macro seasonSection(title, episodes) %}
    {% import "list.nunj.html" as list %}

    {{ section(title, list.unorderedEpisodeList(episodes)) }}
{% endmacro %}



{% macro actorMoviesSection(title, movies) %}
    {% import "list.nunj.html" as list %}

    {{ section(title, list.unorderedMoviesList(movies)) }}
{% endmacro %}

{% macro userWatchlistsSection(title, watchlists) %}
    {% import "list.nunj.html" as list %}

    {{ section(title, list.watchlistsList(watchlists)) }}
{% endmacro %}


{% macro searchMoviesSection(title, movies) %}
    {% import "list.nunj.html" as list %}

    {{ section(title, list.searchMoviesList(movies)) }}
{% endmacro %}

{% macro searchTvshowSection(title, tvshows) %}
{% import "list.nunj.html" as list %}

{{ section(title, list.searchTvShowsList(tvshows)) }}
{% endmacro %}

{% macro searchActorsSection(title, actors) %}
{% import "list.nunj.html" as list %}

{{ section(title, list.searchActorsList(actors)) }}
{% endmacro %}
