<div class="signupPage">
    <div class="center-align">
        <img src="/image/umi-project-logo-500x500.png"/>
        <h2>Welcome to UMI!</h2>
        <div>Enter your informations below to join our community.</div>
    </div>
    <div class="divider"></div>
    <div class="signupForm">
        <div class="card-panel red invalidInfo-card"></div>
        <div class="input-field">
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="input-field">
            <input id="confirmPassword" type="password" class="validate">
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <button class="signupFormButton waves-effect waves-light blue btn signupButton">Sign up</button>
    </div>
</div>
