<div class="reactions">
    <div class="reactions--wrapper">
        <div class="reaction" data-content="happy">
            <div class="reaction--icon"><i class="icon-emo-happy"></i></div>
            <div class="reaction--text">Happy!</div>
            <div class="reaction--percentage {{ reactions.happy.percentageSize }}">{{ reactions.happy.percentage }}%</div>
        </div>
        <div class="reaction" data-content="cry">
            <div class="reaction--icon"><i class="icon-emo-cry"></i></div>
            <div class="reaction--text">Cry</div>
            <div class="reaction--percentage {{ reactions.cry.percentageSize }}">{{ reactions.cry.percentage }}%</div>
        </div>
        <div class="reaction" data-content="shoot">
            <div class="reaction--icon"><i class="icon-emo-shoot"></i></div>
            <div class="reaction--text">Shoot!</div>
            <div class="reaction--percentage {{ reactions.shoot.percentageSize }}">{{ reactions.shoot.percentage }}%</div>
        </div>
        <div class="reaction" data-content="devil">
            <div class="reaction--icon"><i class="icon-emo-devil"></i></div>
            <div class="reaction--text">Devil</div>
            <div class="reaction--percentage {{ reactions.devil.percentageSize }}">{{ reactions.devil.percentage }}%</div>
        </div>
        <div class="reaction" data-content="cheers">
            <div class="reaction--icon"><i class="icon-emo-cheers"></i></div>
            <div class="reaction--text">Cheers!</div>
            <div class="reaction--percentage {{ reactions.cheers.percentageSize }}">{{ reactions.cheers.percentage }}%</div>
        </div>
        <div class="reaction" data-content="cool">
            <div class="reaction--icon"><i class="icon-emo-cool"></i></div>
            <div class="reaction--text">Cool</div>
            <div class="reaction--percentage {{ reactions.cool.percentageSize }}">{{ reactions.cool.percentage }}%</div>
        </div>
        <div class="reaction" data-content="surprised">
            <div class="reaction--icon"><i class="icon-emo-surprised"></i></div>
            <div class="reaction--text">Surprised</div>
            <div class="reaction--percentage {{ reactions.surprised.percentageSize }}">{{ reactions.surprised.percentage }}%</div>
        </div>
        <div class="reaction" data-content="sad">
            <div class="reaction--icon"><i class="icon-emo-sad"></i></div>
            <div class="reaction--text">Sad</div>
            <div class="reaction--percentage {{ reactions.sad.percentageSize }}">{{ reactions.sad.percentage }}%</div>
        </div>
        <div class="reaction" data-content="funny">
            <div class="reaction--icon"><i class="icon-emo-funny"></i></div>
            <div class="reaction--text">Funny</div>
            <div class="reaction--percentage {{ reactions.funny.percentageSize }}">{{ reactions.funny.percentage }}%</div>
        </div>
    </div>
    <div class="reactions--reviewButtonWrapper">
        <a class="reviewButton waves-effect waves-light btn blue"><i class="mdi-communication-comment"></i></a>
    </div>
</div>
