<div class="search is-hidden">
    <button class="search--closeButton waves-effect waves-red btn-flat"><i class="mdi-navigation-close"></i></button>
    <div class="search--inputRow">
        <input id="search--input" class="inputRow--input validate" type="text" placeholder="Search..."/>
        <button class="inputRow--submitButton waves-effect waves-green btn-flat">OK</button>
    </div>
    <div class="search--filterRow">
        <div class="filterRow--elementWrapper">
            <form>
                    <input class ="filterRow--checkbox"  name="searchType" type="radio" id="radioActors" />
                    <label  class ="filterRow--element" for="radioActors">Actors</label>
                    <input class ="filterRow--checkbox"  name="searchType" type="radio" id="radioMovies" />
                    <label class ="filterRow--element" for="radioMovies">Movies</label>
                    <input class ="filterRow--checkbox"  name="searchType" type="radio" id="radioTvshows"  />
                    <label class ="filterRow--element" for="radioTvshows">Tv Shows</label>
                    <input class ="filterRow--checkbox" name="searchType" type="radio" id="radioUsers" />
                    <label class ="filterRow--element" for="radioUsers">Users</label>
            </form>
        </div>
    </div>
</div>
