{% import "helper.media.nunj.html" as mediaHelper %}

{% macro reviewsList(reviews, isAlreadyReview) %}
    <div class="reviewsActions">
        {% if isAlreadyReview %}
            <button class="reviewsActions--button deleteButton waves-effect waves-light btn-large red darken-2"><i
                    class="mdi-action-delete left"></i> Delete review
            </button>
            <button class="reviewsActions--button editButton waves-effect waves-light btn-large orange"><i
                    class="mdi-image-edit left"></i> Edit review
            </button>
        {% else %}
            <button class="reviewsActions--button editButton waves-effect waves-light btn-large orange"><i
                    class="mdi-av-my-library-add left"></i> New review
            </button>
        {% endif %}
    </div>
    <div class="reviewsList">
        {% for element in reviews %}
            <div class="reviewsList--item">
                <div class="item--thumbnail">
                    {% if element.emotion %}
                        <div class="reaction--icon"><i class="{{ element.emotion }}"></i></div>
                    {% else %}
                        <img src="/image/user_icon.png" alt="User avatar"/>
                    {% endif %}
                </div>
                <div class="item--reviewer">
                    {{ element.name }}
                </div>
                <p class="item--text">
                    {{ element.text }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{{ mediaHelper.section("Customer Reviews", reviewsList(reviews), "customerReviews") }}
