

<div class ="filter-section">
    <div class="filter-dropdown">
        <select class = "movie-genre-select" style="display:inline-block;">
            <option value="" disabled selected>Filter by Genre</option>
            <option value="4402">Anime</option>
            <option value="4404">Comedy</option>
            <option value="4406">Drama</option>
            <option value="4401">Action & Adventure</option>
            <option value="4408">Horror</option>
            <option value="4412">Romance</option>
            <option value="4416">Thriller</option>
            <option value="4405">Documentary</option>
            <option value="4407">Foreign</option>
            <option value="4410">Kids & Family</option>
            <option value="4413">Sci-Fi & Fantasy</option>
        </select>
    </div>
</div>



{% import "helper.media.nunj.html" as mediaHelper %}

{{ mediaHelper.searchMoviesSection("Search Results", movies) }}






