<div class="indexContent">

    <div class="template-featuredMediaCarousel"></div>

    <section class="selectionSection">
        <h2 class="selectionSection--title">Top Movies</h2>
        <div class="template-topMovieCarousel"></div>
    </section>

    <section class="selectionSection">
        <h2 class="selectionSection--title">Top TV Show</h2>
        <div class="template-topTvShowCarousel"></div>
    </section>

    <section class="selectionSection">
        <h2 class="selectionSection--title">Actor Selection</h2>
        <div class="template-topActorCarousel"></div>
    </section>

</div>

