/*------------------------------------*\
    ##FEATURED_MEDIA_CAROUSEL

\*------------------------------------*/
$featuredImageWidth: 650px;

.featuredMediaCarousel {
    font-size: 1rem;

    margin-bottom: 3em;

    &--element {
        position: relative;
        outline: none;

        .element--title {
            position: absolute;
            //top: 14px;
            //left: 14px;

            bottom: 14px;
            right: 18px;

            display: inline-block;
            //padding: 7px 14px;
            //background-color: hsla(0,0,0,.75);

            background-color: hsla(36,100%,50%,1);
            border-right: 6px solid white;
            padding: 7px 14px 7px 60px;

            color: hsla(0,0,100%,.9);
            font-weight: 300;
            font-size: 1.4em;

            & a {
                color: inherit;
            }
        }

        @media (max-width: $featuredImageWidth) {
            .element--image {
                max-width: 100%;
            }
        }
    }
}
