/*------------------------------------*\
    ##FEATURED_MEDIA_CAROUSEL

\*------------------------------------*/
$featuredImageWidth: 650px;

.featuredMediaCarousel {
    font-size: 1rem;

    margin-bottom: 3em;

    &--element {
        position: relative;
        outline: none;

        .element--title {
            position: absolute;
            top: 14px;
            left: 14px;

            display: inline-block;
            padding: 7px 14px;
            background-color: hsla(0,0,0,.75);

            color: hsla(0,0,100%,.9);
            font-weight: 300;
            font-size: 1.4em;
        }

        @media (max-width: $featuredImageWidth) {
            .element--image {
                max-width: 100%;
            }
        }
    }
}





/*------------------------------------*\
    ##FEATURED_MEDIA_CAROUSEL

\*------------------------------------*/
$index-sectionTitleColor: hsla(36,100%,50%,1); //Orange.500
$index-sectionTitleWeight: 100;

.selectionSection {
    padding-left: 10px;

    @include breakpoint(tablet) {
        margin-left: 20px;
    }

    &--title {
        color: $standardSectionTitleColor;
        font-weight: $standardSectionTitleWeight;
    }
}
