/*------------------------------------*\
    ##MEDIA
    page standard pour les séries (tvshow)
\*------------------------------------*/

/*
    Constantes
*/

$media-titleColor: color("red", "lighten-1"); //Red.400
$media-titleWeight: 100;

$media-subtitleColor: color("red", "lighten-2");
$media-subtitleWeight: 200;

//$media-normalTextColor:
$media-normalTextWeight: 300;

$mediaNormalPadding: 3%;

/*
    rem du module
   et em modifiés
*/
.media {
    @include cf();

    font-size: 1.1rem;

    .mediaHeader .mainInformations--element {
        font-size: 1.25em;
    }

    .mediaSection {
        .unorderedWordList {
            font-size: 1.25em;
        }

        .unorderedEpisodeList {

        }
    }
}

.mediaHeader, .media--quickActions, .media--remaining {
    @include cf();
}

/*------------------------------------*\
    ##MEDIA_HEADER
\*------------------------------------*/
.mediaHeader {
    text-align: center;

    @include breakpoint(phablet) {
        text-align: left;
    }

    @include breakpoint(tablet) {
        @include center($max_width: 1024px);
    }

    &--title {
        color: $media-titleColor;
        font-weight: $media-titleWeight;
    }

    &--subtitle {
        padding-bottom: 15px;

        color: $media-subtitleColor;
        font-weight: $media-subtitleWeight;

        font-size: 1.6em;
    }

    .mainInformations--element {
        font-weight: $media-normalTextWeight;

        .media--ratingLogo {
            padding: .15em .18em;

            color: hsla(0, 100%, 100%, 1);

            border-width: 1px;
            border-style: solid;
            border-radius: .3em;
        }
    }

    &--poster, &--mainInformations {
        display: inline-block;
    }

    &--poster {
        @include col(1/1);

        @include breakpoint(phablet) {
            @include col(5/12);
        }

        @include breakpoint(tablet) {
            @include col(4/12);
        }

        @include breakpoint(laptop) {
            @include col(3/12);
        }

        & > img {
            display: block;
            max-width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &--mainInformations {
        margin-bottom: 10px;

        @include col(1/1);

        @include breakpoint(phablet) {
            @include col(7/12);
        }

        @include breakpoint(tablet) {
            @include col(8/12);
        }

        @include breakpoint(laptop) {
            @include col(9/12);
        }
    }
}

/*------------------------------------*\
    ##MEDIA_QUICK_ACTIONS
\*------------------------------------*/
.media--quickActions {
    padding: 20px 10px;

    text-align: center;

    background-color: hsla(0, 100%, 100%, .15);

    &--button {
        vertical-align: middle;
        display: inline-block;
        margin: 5px 2px;
    }

    @include breakpoint(tablet) {
        .media--quickActions--button {
            vertical-align: middle;
            display: inline-block;
            margin: 6px 6px;
        }
    }

    @include breakpoint(laptop) {
        .media--quickActions--button {
            vertical-align: middle;
            display: inline-block;
            margin: 10px;
        }
    }

    &--button.imageButton img {
        @extend .z-depth-1;
        transition: box-shadow 0.5s ease-out;

        &:hover {
            @extend .z-depth-3;
            transition: box-shadow 0.5s ease-in;
        }
    }
}

/*------------------------------------*\
    ##MEDIA_TRAILER
\*------------------------------------*/
.mediaTrailer {
    @extend .black;

    .trailerContainer {
        @extend .l-centered;

        position: relative;

        .ratio {
            display: block;
            width: 100%;
            height: auto;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/*------------------------------------*\
    ##MEDIA_SECTION
\*------------------------------------*/
.mediaSection {
    &.is-hidden {
        .mediaSection--hideShowButton {
            i {
                @extend .mdi-hardware-keyboard-arrow-down;
            }
        }
        .mediaSection--content {
            display: none;
        }
    }

    &--titleContainer {

        margin-right: $mediaNormalPadding;
        margin-left: $mediaNormalPadding;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--title {
        color: $standardSectionTitleColor;
        font-weight: $standardSectionTitleWeight;
    }

    &--hideShowButton {
        color: hsla(0, 100%, 100%, 1);

        i {
            @extend .mdi-hardware-keyboard-arrow-up;
            font-size: 1.5em;
        }

        &:focus {
            background-color: transparent;
        }
    }

    &--content {
        margin-right: $mediaNormalPadding;
        margin-left: $mediaNormalPadding;

        font-weight: 300;
    }
}

/*------------------------------------*\
    ##MEDIA_SECTION -> unorderedWordList
\*------------------------------------*/
.mediaSection {
    .unorderedWordList {
        @include cf();

        font-weight: $media-normalTextWeight;

        &--item {
            @include cf();

            a {
                color: inherit;

                &:hover {
                    color: color("red", "lighten-1");
                }
            }

            border-top-width: 1px;
            border-top-style: solid;
            margin-top: 0.7em;
            padding-top: 0.7em;

            @include breakpoint(phablet) {

            }

            @include breakpoint(tablet) {
                @include col(1/2, $cycle: 2);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            @include breakpoint(laptop) {
                @include col(1/3, $uncycle: 2, $cycle: 3);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(3) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            @include breakpoint(desktop) {
                @include col(1/4, $uncycle: 3, $cycle: 4);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(3) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(4) {
                    border-top: none;
                    margin-top: 0;
                }
            }
        }
    }
}

/*------------------------------------*\
    ##MEDIA_SECTION -> unorderedEpisodeList
\*------------------------------------*/
.mediaSection {
    .unorderedEpisodeList {
        @include cf();

        &--item {
            @include cf();

            border-top-width: 1px;
            border-top-style: solid;
            margin-top: 0.7em;
            padding-top: 0.7em;

            @include breakpoint(phablet) {

            }

            @include breakpoint(tablet) {
                @include col(1/2, $cycle: 2);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            @include breakpoint(laptop) {
                @include col(1/3, $uncycle: 2, $cycle: 3);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(3) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            @include breakpoint(desktop) {
                @include col(1/4, $uncycle: 3, $cycle: 4);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(3) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(4) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            & > * {
                display: inline-block;
            }

            .item--thumbnail img {
                max-width: 100%;
            }

            .item--thumbnail {
                @include col(3/12);

                @include breakpoint(tablet) {
                    @include col(4/12);
                }

                @include breakpoint(laptop) {
                    @include col(4/12);
                }

                @include breakpoint(desktop) {
                    @include col(5/12);
                }
            }

            .item--title {
                font-size: 1.2em;

                @include col(9/12);

                @include breakpoint(tablet) {
                    @include col(8/12);
                }

                @include breakpoint(laptop) {
                    @include col(8/12);
                }

                @include breakpoint(desktop) {
                    @include col(7/12);
                }
            }

            .episode--number {
                color: hsla(0, 100%, 100%, 1);
            }

            .episode--ratingLogo {
                padding: .15em .18em;

                font-size: .75em;
                color: hsla(0, 100%, 100%, 1);

                border-width: 1px;
                border-style: solid;
                border-radius: .3em;

                white-space: nowrap;
            }
        }
    }
}

/*------------------------------------*\
    ##MEDIA_SECTION -> unorderedMoviesList
\*------------------------------------*/
.mediaSection {
    .unorderedMoviesList {
        @include cf();

        &--item {
            @include cf();

            border-top-width: 1px;
            border-top-style: solid;
            margin-top: 0.7em;
            padding-top: 0.7em;

            @include breakpoint(phablet) {

            }

            @include breakpoint(tablet) {
                @include col(1/2, $cycle: 2);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            @include breakpoint(laptop) {
                @include col(1/3, $uncycle: 2, $cycle: 3);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(3) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            @include breakpoint(desktop) {
                @include col(1/4, $uncycle: 3, $cycle: 4);

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(2) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(3) {
                    border-top: none;
                    margin-top: 0;
                }
                &:nth-child(4) {
                    border-top: none;
                    margin-top: 0;
                }
            }

            & > * {
                display: inline-block;
            }

            .item--thumbnail img {
                max-width: 100%;
            }

            .item--thumbnail {
                @include col(3/12);

                @include breakpoint(tablet) {
                    @include col(4/12);
                }

                @include breakpoint(laptop) {
                    @include col(4/12);
                }

                @include breakpoint(desktop) {
                    @include col(5/12);
                }
            }

            .item--rightCol {
                font-size: 1.4rem;

                @include col(9/12);

                @include breakpoint(tablet) {
                    @include col(8/12);
                    font-size: 1.3rem;
                }

                @include breakpoint(laptop) {
                    @include col(8/12);
                    font-size: 1.2rem;
                }

                @include breakpoint(desktop) {
                    @include col(7/12);
                }

                .item--title a {
                    font-size: 1.29em;
                    color: inherit;

                    &:hover {
                        color: color("red", "lighten-1");
                    }
                }
                .item--informationElement {
                }
                .item--trailerButton {
                    margin-top: 12px;
                }
            }
        }
    }
}
