.mediaCarousel {
    &--element {
        margin-right: 10px;

        outline: none;

        @include breakpoint(tablet) {
            margin-right: 20px;
        }

        .element--image {
            width: 100%;
        }

        .element--title {
            text-align: center;
            padding-top: 0.5em;

            a {
                color: inherit;
            }
        }

        &:hover {
            .element--image {
                @include pulse(
                    $duration: 0.7s,
                    $function: ease-in-out
                );
            }
            .element--title {
                color: hsla(0,100%,100%,1);
            }
        }
    }
}
