.mediaCarousel {
    &--element {
        margin-right: 10px;

        outline: none;

        @include breakpoint(tablet) {
            margin-right: 20px;
        }

        .element--image {
            width: 100%;
        }

        .element--title {
            text-align: center;
            padding-top: 0.5em;
        }
    }
}
