.pageContent {
}

.pageContent--slider {
    @include cf();
    @include center(1024px);
}

.pageContent--slider img {
    @include col(3/4);

}

.pageContent--slider img:hover {
    @include col(9/10);
}

.pageContent--slider img:hover + div {
    //@include col(9/10);
}


.pageContent--slider div:hover > .pageContent--slider-info {
    @include col(9/10);
}

.pageContent--slider-info
{
    background-color: #B71C1C;
    @include col(3/4);
}

.pageContent--movie--info {
    @include col(3/4);
}

.pageContent--movie-title {
    @include col(3/4);
    color: white;
    font-weight: bold;
}

.pageContent--category {
    @include center(1024px);
}





