/*------------------------------------*\
    ##SEARCH_BOX
\*------------------------------------*/
.search {
    z-index: z("search");

    position: absolute;
    left: 0;
    right: 0;

    &.is-hidden {
        display: none;
    }

    @extend .indigo, .darken-3;
    @extend .z-depth-2;

    @include cf();

    font-size: 1rem;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0.7em;
    padding-right: 0.7em;

    @include breakpoint(tablet) {
        display: none;
    }

    &--inputRow,
    &--filterRow,
    &--result {
        @include cf();
    }
}

.search--closeButton {
    display: none;

    @include breakpoint(tablet) {
        display: block;
    }

    position: absolute;

    color: hsla(0,100%,100%,1);

    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid hsla(0,100%,100%,.25);

    i {
        font-size: 35px;
        vertical-align: middle;
    }

    &:focus {
        background-color: transparent;
    }
}

.search--inputRow {

    @include breakpoint(tablet) {
        display: none;
    }

    input.inputRow--input {
        @include col(9/12);

        border-bottom-color: hsla(0,100%,100%,0.85);

        &:focus {
            border-bottom-color: color("green", "base");
        }

        font-size: 2.5em;
        font-weight: 200;
        letter-spacing: 0.1em;
        @extend .white-text;

        @include breakpoint(phablet) {
            @include col(10/12);
        }
    }

    .inputRow--submitButton {
        color: hsla(0,100%,100%,1);
        font-weight: 300;
        font-size: 1.4em;

        &:focus {
            background-color: transparent;
        }
    }
}

.search--filterRow {
    $border-color: hsla(0,100%,100%,0.8);

    .filterRow--elementWrapper{
        @include col(10/12, $offset: 1/12);

        @include breakpoint(phablet) {
            @include col(8/12, $offset: 2/12);
        }

        @include breakpoint(smalltablet) {
            @include col(6/12, $offset: 3/12);
        }
    }

    .filterRow--element {
        @include col(3/12);

        @extend .white-text;

        font-size: 1.1em;
        font-weight: 300;
        text-align: center;

        padding-left: 0;
        padding-right: 0;

    }
    input[type=radio]:checked + label{
        font-weight:bold;
        font-size: 1.5em;
    }
}

.search--result {
    padding-top: 20px;
}

