/*
    Media
*/

$mediaNormalPadding: 3%;

/* rem du module
   et em modifiés
*/
.media {
    font-size: 1.1rem;

    h2, h3 {
        font-weight: 100;
        color: hsla(0,100%,100%,1);
    }

    .media--season,
    .media--date,
    .media--genre,
    .media--duration,
    .media--rating,
    .media--author {
        font-size: 1.25em;
        font-weight: 300;
    }

    .media--actorsList {
        font-size: 1.25em;
        font-weight: 300;
    }
}

.media {

}

.media--header, .media--quickActions, .media--remaining {
    @include cf();
}

.media--header {
    text-align: center;

    @include breakpoint(phablet) {
        text-align: left;
    }

    @include breakpoint(tablet) {
        @include center($max_width: 1024px);
    }
}

.media--poster, .media--mainInformations {
    display: inline-block;
}

.media--poster {
    @include col(1/1);

    @include breakpoint(phablet) {
        @include col(5/12);
    }

    @include breakpoint(tablet) {
        @include col(4/12);
    }

    @include breakpoint(laptop) {
        @include col(3/12);
    }
}

.media--mainInformations {
    margin-bottom: 10px;

    @include col(1/1);

    @include breakpoint(phablet) {
        @include col(7/12);
    }

    @include breakpoint(tablet) {
        @include col(8/12);
    }

    @include breakpoint(laptop) {
        @include col(9/12);
    }
}

.media--poster img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.media--rating {
    .media--rating--logo {
        border-width: 1px;
        border-style: solid;
        padding: .15em .18em;
        border-radius: .3em;
        color: hsla(0,100%,100%,1);
    }
}

.media--quickActions {
    background-color: hsla(0,100%,100%,.15);

    text-align: center;
    padding: 20px 10px;

    .media--quickActions--button {
        vertical-align: middle;
        display: inline-block;
        margin: 5px 2px;
    }

    @include breakpoint(tablet) {
        .media--quickActions--button {
            vertical-align: middle;
            display: inline-block;
            margin: 6px 6px;
        }
    }

    @include breakpoint(laptop) {
        .media--quickActions--button {
            vertical-align: middle;
            display: inline-block;
            margin: 10px;
        }
    }
}

.media--trailer {
    &.is-hidden {
        display: none;
    }
}

.media--subTitle {

    margin-right: $mediaNormalPadding;
    margin-left: $mediaNormalPadding;

    & > * {
        display: inline-block;
        vertical-align: middle;
    }

    .media--subTitle--title {

    }

    .media--subTitle--hideShowButton {

    }
}

.media--remaining--element {
    .media--subTitle--hideShowButton {
        color: hsla(0,100%,100%,.8);

        i {
            @extend .mdi-hardware-keyboard-arrow-up;
            font-size: 1.5em;
        }
    }
    .media--subContent {

    }

    .media--actorsList {
        @include cf();

        .media--actorsList--item {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            margin-bottom: 0.7em;

            @include breakpoint(phablet) {
                @include col(1/2, $cycle: 2);
            }

            @include breakpoint(tablet) {
                @include col(1/3, $uncycle: 2, $cycle: 3);
            }

            @include breakpoint(laptop) {
                @include col(1/4, $uncycle: 3, $cycle: 4);
            }
        }
    }
}

.media--remaining--element.is-hidden {
    .media--subTitle--hideShowButton {
        i {
            @extend .mdi-hardware-keyboard-arrow-down;
        }
    }
    .media--subContent {
        display: none;
    }
}

.media--subContent {
    margin-right: $mediaNormalPadding;
    margin-left: $mediaNormalPadding;

    font-weight: 300;
}

.media--episodesList {
    @include cf();
}

.media--episodesList--item {
    @include cf();

    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 0.7em;

    @include breakpoint(phablet) {

    }

    @include breakpoint(tablet) {
        @include col(1/2, $cycle: 2);
    }

    @include breakpoint(laptop) {
        @include col(1/3, $uncycle: 2, $cycle: 3);
    }

    @include breakpoint(desktop) {
        @include col(1/4, $uncycle: 3, $cycle: 4);
    }

    & > * {
        display: inline-block;
    }

    .episode--thumbnail img {
        max-width: 100%;
    }

    .episode--thumbnail {
        @include col(3/12);

        @include breakpoint(tablet) {
            @include col(4/12);
        }

        @include breakpoint(laptop) {
            @include col(4/12);
        }

        @include breakpoint(desktop) {
            @include col(5/12);
        }
    }

    .episode--title {
        font-size: 1.2em;

        @include col(9/12);

        @include breakpoint(tablet) {
            @include col(8/12);
        }

        @include breakpoint(laptop) {
            @include col(8/12);
        }

        @include breakpoint(desktop) {
            @include col(7/12);
        }
    }
}
