.tvShowContent {
    #showEpisodeModal.modal {
        width: 100%;
    }

    .modal {
        max-height: 85%;
    }

    .modal-content.tv-show {
    }

    .media--quickActions.tv-show {
        padding: 10px 10px;
        height: 90px;
    }

    .media--quickActions--button.previousEpisodeBtn {
        width: 170px;
        float: left;
    }

    .media--quickActions--button.nextEpisodeBtn {
        width: 170px;
        float: right;
    }

    #materialize-lean-overlay-1.lean-overlay {
        background: hsla(0,0%,0%,1);
    }

    .modal-footer.tv-show {
    }

    .media--quickActions--button.searchBtn, .media--quickActions--button.closeResultSearchBtn {
        left: 2%;
    }

    .searchFilter {
        left: 30%;
        padding-right: 10px;
        color: hsla(0,100%,100%,.65);
        font-size: 1.25em;
    }

}
