@import 'jeet/index';
@import "materialize";

@import "breakpoint";

// TODO activer et désactiver à sa guise
//@include edit(); // /!\ Créée un fond gris utile pour les tests

/*
    Base
*/
$bodyColor: hsla(0,100%,100%,.65);


html {
    @extend .blue-grey, .darken-4;
}

body {
    @extend .blue-grey, .darken-4;
    color: $bodyColor;
}

html {
    font-size: 13px;
}

@include breakpoint(phablet) {
    html { font-size: 14px; }
}

@include breakpoint(tablet) {
    html { font-size: 15px; }
}

@include breakpoint(laptop) {
    html { font-size: 16px; }
}

@include breakpoint(desktop) {
    html { font-size: 17px; }
}

body {

}

#page {

}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}







@import "pageHeader";
@import "pageContent";
@import "pageMenu";
@import "movie";
@import "media";
@import "actor";

a {
    cursor: pointer;
}
