@import 'jeet/index';
@import "materialize";
@import "slick";

@import "animate";

@import "breakpoint";
@import "zIndex";
@import "emoji-reactions";

// TODO activer et désactiver à sa guise
//@include edit(); // /!\ Créée un fond gris utile pour les tests

/*
    Base
*/
$bodyColor: hsla(0,100%,100%,.65);
$standardSectionTitleColor: color("orange", "base");
$standardSectionTitleWeight: 100;


html {
    @extend .blue-grey, .darken-4;
    background: url("/image/bb.jpg") no-repeat;
    background-size: cover;
}

body {
    color: $bodyColor;
}

html {
    font-size: 13px;
}

#page {
    background-color: hsla(0,0%,0%,.35);
}

@include breakpoint(phablet) {
    html { font-size: 14px; }
}

@include breakpoint(tablet) {
    html { font-size: 15px; }
}

@include breakpoint(laptop) {
    html { font-size: 16px; }
}

@include breakpoint(desktop) {
    html { font-size: 17px; }
}

body {

}

#page {

}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}


.l-centered {
    @include center(1024px);
}

/*
    ##TOAST
*/

.success-toast {
    @extend .green;
    @extend .white-text;
}

.information-toast {
    @extend .blue;
    @extend .white-text;
}

.warning-toast {
    @extend .orange;
    @extend .white-text;
}

.error-toast {
    @extend .red;
    @extend .white-text;
}

/*
    ##DROP_DOWN
*/

.dropdown-content.watchListSelection {
    @extend .indigo, .darken-3;

    .watchListSelection--item {
        @extend .white-text;

        a {
            color: inherit;
        }

        &:hover {
            background-color: hsla(0,0,0,0.7);
        }
    }
}

/*
    ##ANIMATION
*/

.is-animation-shake {
    @include shake(
        $duration: 0.7s,
        $function: ease-in-out
    );
}

@import "pageHeader";
@import "pageContent";
@import "pageMenu";
@import "pageFooter";
@import "search";
@import "userMenu";
@import "selectionSection";
@import "media";
@import "actor";
@import "mediaCarousel";
@import "featuredMediaCarousel";
@import "modal";
@import "watchlist";
@import "reactions";


a {
    cursor: pointer;
}
