<div class="tvShowContent">
    <div class="media">
        {% include "media.header.nunj.html" %}

        <section class="media--quickActions">
            <button class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i class="mdi-av-play-circle-outline left"></i> Trailer
            </button>
            <a class="media--quickActions--button imageButton"
               href="https://itunes.apple.com/ca/tv-season/stargate-universe-season-1/id323880910">
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>

        {% include "media.trailer.nunj.html" %}

        {% import "media.section.nunj.html" as section %}

        {{ section.paragraphSection("Synopsis", media.synopsis) }}

        {{ section.wordListSection("Starring", media.actors) }}

        {{ section.seasonSection("Episodes", media.episodes) }}

    </div>
</div>
