<div class="tvShowContent">
    <div class="media">

        {% import "helper.media.nunj.html" as mediaHelper %}
        {{ mediaHelper.header(media.title, media.img, media.mainInformations) }}

        <section class="media--quickActions">
            <button class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i class="mdi-av-play-circle-outline left"></i> Trailer
            </button>
            <a class="media--quickActions--button imageButton"
               href="{{media.itunesUrl}}">
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>

        {{ mediaHelper.trailer(media.youtubeTrailerUrl) }}

        <div class="template-reactions"></div>

        <div class="row searchEpisode">

            <div class="input-field tv-show hide">
                <i class="mdi-action-search prefix"></i>
                <input id="searchEpisode" type="text" >

                <label for="searchEpisode">Search an episode here...</label>
                <button class="media--quickActions--button searchBtn waves-effect waves-light btn-large blue darken-1">Search
                </button>
                <button class="media--quickActions--button closeResultSearchBtn waves-effect waves-light btn-large red darken-1">Close result
                </button>
            </div>

            <div id="result"></div>

        </div>

        {{ mediaHelper.paragraphSection("Synopsis", media.synopsis) }}
        {{ mediaHelper.seasonSection("Episodes", media.episodes) }}

        <div class="template-reviews"></div>

    </div>

    <div id="ShowEpisodeModal" class="modal black">

        <section class="media--quickActions tv-show">
            <button class="media--quickActions--button previousEpisodeBtn waves-effect waves-light btn-large blue darken-1"><i class="mdi-av-skip-previous left"></i>Prev
            </button>
            <button class="media--quickActions--button nextEpisodeBtn waves-effect waves-light btn-large blue darken-1"><i class="mdi-av-skip-next right"></i>Next
            </button>
        </section>

        <div class="modal-content tv-show"></div>

        <div class="modal-footer tv-show">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>
</div>
