<div class="mediaCarousel">
    <div class="mediaCarousel--element">
        <img src="image/interstellar.jpg" alt="Interstellar" class="element--image"/>

        <div class="element--title">Interstellar</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/bighero6.jpg" alt="Big Hero 6" class="element--image"/>

        <div class="element--title">Big Hero 6</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/killbill.jpg" alt="Kill Bill Vol. 1" class="element--image"/>

        <div class="element--title">Kill Bill Vol. 1</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/up.jpg" alt="Up" class="element--image"/>

        <div class="element--title">Up</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/batman.jpg" alt="Batman Begins" class="element--image"/>

        <div class="element--title">Batman Begins</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/theimitationgame.jpg" alt="The Imitation Game" class="element--image"/>

        <div class="element--title">The Imitation Game</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/lotr.jpg" alt="Lord of the Rings: The Return of the King"
             class="element--image"/>

        <div class="element--title">Lord of the Rings: The Return of the King</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/startrek.jpg" alt="Star Trek: Into Darkness" class="element--image"/>

        <div class="element--title">Star Trek: Into Darkness</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/forestgump.jpg" alt="Forrest Gump" class="element--image"/>

        <div class="element--title">Forrest Gump</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/madmax.jpg" alt="Mad Max: Fury Road" class="element--image"/>

        <div class="element--title">Mad Max: Fury Road</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/jurrassicworld.jpg" alt="Jurassic World" class="element--image"/>

        <div class="element--title">Jurassic World</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/insideout.jpg" alt="Inside Out" class="element--image"/>

        <div class="element--title">Inside Out</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/avengers.jpg" alt="Avengers: Age of Ultron" class="element--image"/>

        <div class="element--title">Avengers: Age of Ultron</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/missionimpossible.jpg" alt="Mission Impossible: Rogue Nation"
             class="element--image"/>

        <div class="element--title">Mission Impossible: Rogue Nation</div>
    </div>
    <div class="mediaCarousel--element">
        <img src="image/pawnsacrifice.jpg" alt="Mission Impossible: Rogue Nation"
             class="element--image"/>

        <div class="element--title">Pawn Sacrifice</div>
    </div>
</div>
