<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie</title>
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body class="blue-grey darken-4">

<div class="movie--centered indigo darken-4">


    <img class="movie--img"
         src="http://cdn2-www.superherohype.com/assets/uploads/gallery/interstellar/hr_interstellar_5.jpg"
         alt="Interstellar cover"/>

    <h1 class="movie--title ">Interstellar</h1>


    <div class="movie--synopsis card-panel red darken-4">

        <p>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
    </div>

    <div class="movie--rating card-panel red darken-4">PG-13</div>

    <div class="movie--genre card-panel red darken-4">Adventure, Drama, Sci-Fi</div>

    <div class="movie--release card-panel red darken-4">Released on november 7 2014</div>
    <div class="movie--actors">

                    <ul>
                        <li>Matthew McConaughey</li>
                        <li>Ellen Burstyn</li>
                        <li>Mackenzie Foy</li>
                        <li>John Lithgow</li>
                        <li>Timothée Chalamet</li>
                    </ul>
    </div>

    <div>
        <a href="https://itunes.apple.com/ca/movie/interstellar/id960891136">Voir sur Itunes</a>
    </div>


</div>

<div class="video-container movie--video-container">
    <iframe class="movie--video" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/zSWdZVtXT7E"></iframe>
</div>

</body>
</html>
