<div class="movieContent">
    <div class="media">

        {% import "helper.media.nunj.html" as mediaHelper %}

        {{ mediaHelper.header(media.title, media.img, media.mainInformations, media.tagline) }}

        <section class="media--quickActions">
            {% if media.homepage %}
                <a href="{{ media.homepage }}" class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i class="mdi-action-home left"></i> Homepage
                </a>
            {% endif %}
            <button class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i
                    class="mdi-av-play-circle-outline left"></i> Trailer
            </button>
            <button class="media--quickActions--button watchListButton dropdown-button waves-effect waves-light btn-large red"
                    data-activates='watchListSelectionDropDown'><i
                    class="mdi-content-add-circle-outline left"></i> Watch List
            </button>
            <a class="media--quickActions--button imageButton"
               href={{media.itunesLink}}>
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>

        {{ mediaHelper.trailer(media.youtubeTrailerUrl) }}

        <div class="template-reactions"></div>

        {{ mediaHelper.paragraphSection("Synopsis", media.synopsis) }}

        {% if media.actors %}
            <div class="castingWrapper">
                {{ mediaHelper.wordWithDataListSection("Casting", media.actors) }}
            </div>
        {% endif %}

        {% if media.crew %}
            {{ mediaHelper.wordListSection("Crew", media.crew) }}
        {% endif %}

        <ul id='watchListSelectionDropDown' class='dropdown-content watchListSelection'>
            {% for watchList in watchListCollection %}
                <li class="watchListSelection--item" data-id="{{ watchList.id }}"><a href="#!">{{ watchList.title | truncate(22) }}</a></li>
            {% endfor %}
        </ul>

        {{ mediaHelper.paragraphSection("Customer Reviews", media.synopsis) }}

        <div class="template-suggestions"></div>

    </div>
</div>
