<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie</title>
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page">
    <header class="pageHeader">
        <nav id="headerMenuContainer" class="row valign-wrapper">

        <span id="btn-menu-mobile" class="is-mobile-only col s2">
            <a><i class="headerMenuContainer--link fa fa-bars"></i></a>
        </span>

            <span class="headerMenuContainer--logo is-mobile-only col s8">UMI</span>
            <span class="headerMenuContainer--logo is-hidden-on-mobile col l2 m2 "><img
                src="./image/umi-project-logo-500x500.png"><p> UMI</p></span>

            <div class="headerMenuContainer--separator is-hidden-on-mobile"></div>

            <span class="headerMenuContainer--link is-hidden-on-mobile col l2 m2"><i class="fa fa-play-circle-o"></i> Watchlists</span>

            <div class="is-hidden-on-mobile col l3 m3 ">
                <form>
                    <div class="valign-wrapper">
                    <span class="col s1">
                        <label for="headerMenuContainer--searchField"><i class="fa fa-search"></i></label>
                    </span>
                    <span class="col s11">
                        <input id="headerMenuContainer--searchField" type="text" class="form-control"
                               placeholder="Search...">
                    </span>
                    </div>
                </form>
            </div>

            <span class="headerMenuContainer--link is-hidden-on-mobile is-right-aligned col l2 m2"><i
                class="fa fa-cogs"></i> Settings</span>

        <span class="is-hidden-on-mobile valign-wrapper col l1 m1">
            <img id="headerMenuContainer--avatar" class="responsive-img circle" src="./image/rsz_2profile.jpg">
        </span>

            <span class="headerMenuContainer--link is-hidden-on-mobile col l2 m2"><i class="fa fa-sign-out"></i> Log out</span>

        </nav>
        <ul id="logoutMobileHeaderMenu" class="collection is-mobile-only" hidden="hidden">
            <li><a href="#!" class="collection-item"> <i class="fa fa-cogs"></i> Settings</a></li>
            <li><a href="#!" class="collection-item"> Logout <i class="fa fa-sign-out"></i></a></li>
        </ul>
        <ul id="mainMobileHeaderMenu" class="collection is-mobile-only" hidden="hidden">
            <li><a href="#!" class="collection-item"> <i class="fa fa-home"></i> Home</a></li>
            <li><a href="#!" class="collection-item"> <i class="fa fa-play-circle-o"></i> Watchlists</a></li>
            <li><input type="text" class="form-control collection-item" placeholder="recherche..."></li>
        </ul>
    </header>


    <main class="pageContent">
        <div class="movieContent">
            <div class="media">
                <header class="media--header">
                    <div class="media--poster">
                        <img src="image/interstellar.jpg"
                             alt="Interstellar cover"/>
                    </div>


                    <div class="media--mainInformations">
                        <h2 class="media--title">Interstellar</h2>

                        <div class="mainInformations--element">7 november 2014</div>
                        <div class="mainInformations--element">Adventure, Drama, Sci-Fi</div>
                        <div class="mainInformations--element">169 minutes</div>
                        <div class="mainInformations--element">Rating: <span class="media--ratingLogo">PG-13</span>
                        </div>
                    </div>
                </header>


                <section class="media--quickActions">
                    <button class="media--quickActions--button waves-effect waves-light btn-large red"
                            onclick="showTrailer();"><i
                        class="mdi-av-play-circle-outline left"></i> Trailer
                    </button>
                    <button class="media--quickActions--button waves-effect waves-light btn-large red"><i
                        class="mdi-content-add-circle-outline left"></i> Wish List
                    </button>
                    <a class="media--quickActions--button"
                       href="https://itunes.apple.com/ca/movie/interstellar/id960891136">
                        <img src="image/get-on-itunes-badge-en_US-138x50.png">
                    </a>
                </section>


                <section id="media--trailer" class="media--trailer hide">
                    <div class="trailerContainer">
                        <!-- a image for ratio -->
                        <img class="ratio" src="http://placehold.it/16x9"/>
                        <iframe src="https://www.youtube.com/embed/zSWdZVtXT7E"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </section>


                <section class="media--remaining">
                    <div class="media--remaining--element">
                        <div class="media--subTitle">
                            <h3 class="media--subTitle--title">Synopsis</h3>
                            <button class="media--subTitle--hideShowButton waves-effect waves-red btn-flat"><i
                                class="mdi-hardware-keyboard-arrow-up"></i></button>
                        </div>

                        <div class="media--subContent">
                            <p>
                                A team of explorers travel through a wormhole in space in an attempt to ensure
                                humanity's survival.
                            </p>
                        </div>
                    </div>
                    <div class="media--remaining--element">
                        <div class="media--subTitle">
                            <h3 class="media--subTitle--title">Starring</h3>
                            <button class="media--subTitle--hideShowButton waves-effect waves-red btn-flat"><i
                                class="mdi-hardware-keyboard-arrow-up"></i></button>
                        </div>

                        <div class="media--subContent">
                            <ul class="media--actorsList">
                                <li class="media--actorsList--item">Matthew McConaughey</li>
                                <li class="media--actorsList--item">Ellen Burstyn</li>
                                <li class="media--actorsList--item">Mackenzie Foy</li>
                                <li class="media--actorsList--item">John Lithgow</li>
                                <li class="media--actorsList--item">Timothée Chalamet</li>
                                <li class="media--actorsList--item">Anne Hathaway</li>
                                <li class="media--actorsList--item">Michael Caine</li>
                                <li class="media--actorsList--item">Jessica Chastain</li>
                                <li class="media--actorsList--item">Matt Damon</li>
                                <li class="media--actorsList--item">Andrew Borba</li>
                            </ul>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </main>

    <footer class="pageFooter">
        <div class="pageFooter--copyright">
            &copy; UMI ULaval Movie Ima 2015, 300 UMI, all rights reserved
        </div>
    </footer>
</div>
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>
