<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie</title>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>Interstellar</h1>
<img src="http://cdn2-www.superherohype.com/assets/uploads/gallery/interstellar/hr_interstellar_5.jpg"
     alt="Interstellar cover"/>

<h2>Adventure, Drama, Sci-Fi</h2>

<h2>Released on november 7 2014</h2>

<p>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>

<iframe src="https://www.youtube.com/embed/zSWdZVtXT7E"></iframe>

<h3>PG-13</h3>
<ul>
    <li>Matthew McConaughey</li>
    <li>Ellen Burstyn</li>
    <li>Mackenzie Foy</li>
    <li>John Lithgow</li>
    <li>Timothée Chalamet</li>
</ul>
<div>
    <a href="https://itunes.apple.com/ca/movie/interstellar/id960891136">Voir sur Itunes</a>
</div>


</body>
</html>
