<div class="movieContent">
    <div class="media">

        {% include "media.header.nunj.html" %}

        <section class="media--quickActions">
            <button class="media--quickActions--button showTrailerButton waves-effect waves-light btn-large red"><i
                    class="mdi-av-play-circle-outline left"></i> Trailer
            </button>
            <button class="media--quickActions--button waves-effect waves-light btn-large red"><i
                    class="mdi-content-add-circle-outline left"></i> Wish List
            </button>
            <a class="media--quickActions--button"
               href="https://itunes.apple.com/ca/movie/interstellar/id960891136">
                <img src="/image/get-on-itunes-badge-en_US-138x50.png">
            </a>
        </section>


        {% include "media.trailer.nunj.html" %}


        <section class="media--remaining">
            <div class="media--remaining--element">
                <div class="media--subTitle">
                    <h3 class="media--subTitle--title">Synopsis</h3>
                    <button class="media--subTitle--hideShowButton waves-effect waves-red btn-flat"><i
                            class="mdi-hardware-keyboard-arrow-up"></i></button>
                </div>

                <div class="media--subContent">
                    <p>
                        From director Christopher Nolan (Inception, The Dark Knight trilogy) comes the story of a team of pioneers undertaking the most important mission in human history. Academy Award®-winner Matthew McConaughey (Dallas Buyer’s Club) stars as ex-pilot-turned-farmer Cooper, who must leave his family and a foundering Earth behind to lead an expedition traveling beyond this galaxy to discover whether mankind has a future among the stars. Academy Award®-winner Anne Hathaway (Les Misérables) and Academy Award®-nominee Jessica Chastain (Zero Dark Thirty) also star in this landmark film.<br>
                        — iTunes
                    </p>
                </div>
            </div>
            <div class="media--remaining--element">
                <div class="media--subTitle">
                    <h3 class="media--subTitle--title">Starring</h3>
                    <button class="media--subTitle--hideShowButton waves-effect waves-red btn-flat"><i
                            class="mdi-hardware-keyboard-arrow-up"></i></button>
                </div>

                <div class="media--subContent">
                    <ul class="media--actorsList">
                        <li class="media--actorsList--item">Matthew McConaughey</li>
                        <li class="media--actorsList--item">Ellen Burstyn</li>
                        <li class="media--actorsList--item">Mackenzie Foy</li>
                        <li class="media--actorsList--item">John Lithgow</li>
                        <li class="media--actorsList--item">Timothée Chalamet</li>
                        <li class="media--actorsList--item">Anne Hathaway</li>
                        <li class="media--actorsList--item">Michael Caine</li>
                        <li class="media--actorsList--item">Jessica Chastain</li>
                        <li class="media--actorsList--item">Matt Damon</li>
                        <li class="media--actorsList--item">Andrew Borba</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>
