<div class="userMenu is-hidden">
    <div class="userMenu--leftCol">
        <img class="leftCol--image" src="/image/avatar-daruma.jpg" alt="User avatar"/>
    </div>
    <div class="userMenu--rightCol">
        <div class="rightCol--name">Daruma ga Koronda</div>
        <hr/>
        <button class="rightCol--button loginButton waves-effect waves-red btn-flat"><i class="mdi-action-input"></i> Login</button>
        <button class="rightCol--button signoutButton waves-effect waves-red btn-flat"><i class="mdi-action-exit-to-app"></i> Sign out</button>
        <button class="rightCol--button settingsButton waves-effect waves-red btn-flat"><i class="mdi-action-settings"></i> Settings</button>
    </div>
</div>
