<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TV Show | UMI ULaval Movie Ima by UMI-Team</title>
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="page">
    <header class="pageHeader">
        <div class="pageHeader--logo">
            <a href="/"><img src="image/umi-project-logo-500x500.png" alt="ULaval Movie Ima Logo"/></a>
        </div>
        <h1 class="pageHeader--title">UMI</h1>
        <nav class="pageHeader--menu pageMenu">
            <div class="pageMenu--item"><a href="actor.html">Actor</a></div>
            <div class="pageMenu--item"><a href="movie.html">Movie</a></div>
            <div class="pageMenu--item"><a href="tvShow.html">TV Show</a></div>
        </nav>
    </header>
    <main class="pageContent">
        <div class="pageTvShow">
            <div class="media">
                <header class="media--header">
                    <div class="media--poster">
                        <img src="http://lorempixel.com/305/455/city" alt="/!\ City"/>
                    </div>
                    <div class="media--mainInformations">
                        <h2 class="media--title">Vestibulum Purus Quam</h2>
                        <div class="media--season">Season 2 (VO) 1080p</div>
                        <div class="media--date">may 2012</div>
                        <div class="media--genre">Action and Horror</div>
                        <div class="media--duration">2h17</div>
                        <div class="media--rating">15+</div>
                    </div>
                </header>
                <section class="media--quickActions"></section>
                <section class="media--remaining">
                    <div class="media--remaining--element">
                        <h3 class="media--subTitle">Synopsis</h3>

                        <div class="media--subContent">
                            Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum.
                        <br>
                            Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
                        </div>
                    </div>
                    <div class="media--remaining--element">
                        <div class="media--subTitle">
                            <h3 class="media--subTitle--title">Starring</h3>
                            <button class="media--subTitle--collapseButton btn-flat"><i class="material-icons">search</i></button>
                        </div>

                        <div class="media--subContent">
                            <ul class="media--actorsList">
                                <li class="media--actorsList--item">Ridiculus Justo</li>
                                <li class="media--actorsList--item">Sem Malesuada</li>
                                <li class="media--actorsList--item">Fusce Justo</li>
                                <li class="media--actorsList--item">Egestas Elit Sem</li>
                                <li class="media--actorsList--item">Commodo Justo</li>
                            </ul>
                        </div>
                    </div>
                    <div class="media--remaining--element">
                        <h3 class="media--subTitle">Episodes</h3>

                        <div class="media--subContent">
                            <ul class="media--episodesList">
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">1.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">2.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">3.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">4.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">5.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">6.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">7.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">8.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">9.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">10.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">11.</span> Title</h4>
                                </li>
                                <li class="media--episodesList--item">
                                    <div class="episode--thumbnail">
                                        <img src="http://lorempixel.com/160/90/city" alt="/!\ City"/>
                                    </div>
                                    <h4 class="episode--title"><span class="episode--number">12.</span> Title</span></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="pageFooter">
        <div class="pageFooter--copyright">
            &copy; UMI ULaval Movie Ima 2015, all rights reserved
        </div>
    </footer>
</div>
<script src="js/vendor.min.js"></script>
</body>
</html>
