<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMI ULaval Movie Ima by UMI-Team</title>
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="page">
    <header class="pageHeader">
        <div class="pageHeader--logo">
            <a href="/"><img src="image/umi-project-logo-500x500.png" alt="ULaval Movie Ima Logo"/></a>
        </div>
        <h1 class="pageHeader--title">UMI</h1>
        <nav class="pageHeader--menu pageMenu">
            <div class="pageMenu--item"><a href="actor.html">Actor</a></div>
            <div class="pageMenu--item"><a href="movie.html">Movie</a></div>
            <div class="pageMenu--item"><a href="tvShow.html">TV Show</a></div>
        </nav>
    </header>
    <main class="pageContent">

    </main>
    <footer class="pageFooter">
        <div class="pageFooter--copyright">
            &copy; UMI ULaval Movie Ima 2015, all rights reserved
        </div>
    </footer>
</div>
<script src="js/vendor.min.js"></script>
</body>
</html>
