<nav class="pageMenu">
    <button class="pageMenu--searchButton waves-effect waves-red btn-flat"><i class="mdi-action-search"></i></button>
    <div class="pageMenu--brand">
        <a href="/">
            <img class="brand--logo" src="/image/umi-project-logo-500x500.png" alt="UMI ULaval Movie Ima logo"/>
            <h1 class="brand--name">UMI</h1>
        </a>
    </div>
    <div class="pageMenu--search">
        <input class="search--input validate" type="text" placeholder="Search..."/><!--
        --><button class="search--submitButton waves-effect waves-green btn-flat"><i class="mdi-action-search"></i></button>
    </div>
    <div class="pageMenu--user">
        <button class="user--avatarButton">
            <img class="avatarButton--image defaultImage" src="/image/default-square-avatar.png" alt="User default avatar"/>
        </button>
        <button class="user--watchListButton waves-effect waves-red btn-flat">Watchlist</button>
    </div>
</nav>

