<!--
<nav class="pageMenu">
    <nav id="headerMenuContainer" class="row valign-wrapper">

        <span id="btn-menu-mobile" class="is-mobile-only col s2">
            <a class="headerMenuContainer--link"><i  class="mdi-navigation-menu small"></i></a>
        </span>

        <span class="headerMenuContainer--logo is-mobile-only col s8"><a href="/">UMI</a></span>
        <div class="headerMenuContainer--logo is-hidden-on-mobile col l2 m2 "><a href="/"><img
                    src="/image/umi-project-logo-500x500.png"><div> UMI</div></a></div>

        <div class="headerMenuContainer--separator is-hidden-on-mobile"></div>

        <span class="headerMenuContainer--link is-hidden-on-mobile col l2 m2"><i class="mdi-av-play-circle-fill"></i> Watchlists</span>

        <div class="is-hidden-on-mobile col l3 m3 ">
            <form>
                <div class="valign-wrapper">
                    <span class="col s1">
                        <label for="headerMenuContainer--searchField"><i class="mdi-action-search"></i></label>
                    </span>
                    <span class="col s11">
                        <input id="headerMenuContainer--searchField" type="text" class="form-control"
                               placeholder="Search...">
                    </span>
                </div>
            </form>
        </div>

            <span class="headerMenuContainer--link is-hidden-on-mobile is-right-aligned col l2 m2"><i
                    class="mdi-action-settings"></i> Settings</span>

        <span class="valign-wrapper col l1 m1">
            <img id="headerMenuContainer--avatar" class="responsive-img circle" src="/image/rsz_2profile.jpg" />
        </span>

        <span class="headerMenuContainer--link is-hidden-on-mobile col l2 m2"><i class="mdi-action-exit-to-app"></i> Log out</span>

    </nav>
    <ul id="logoutMobileHeaderMenu" class="collection is-mobile-only" hidden="hidden">
        <li><a href="/" class="collection-item"><i class="mdi-action-settings"></i> Settings</a></li>
        <li><a href="/" class="collection-item"><i class="mdi-action-exit-to-app"></i> Logout</a></li>
    </ul>
    <ul id="mainMobileHeaderMenu" class="collection is-mobile-only" hidden="hidden">
        <li><a href="/" class="collection-item"> <i class="mdi-action-home"></i> Home</a></li>
        <li><a href="/" class="collection-item"> <i class="mdi-av-play-circle-fill"></i> Watchlists</a></li>
        <li><input type="text" class="form-control collection-item" placeholder="Search..."></li>
    </ul>
</nav>
-->

<nav class="pageMenu">
    <button class="pageMenu--searchButton waves-effect waves-red btn-flat"><i class="mdi-action-search"></i></button>
    <div class="pageMenu--brand">
        <a href="/">
            <img class="brand--logo" src="/image/umi-project-logo-500x500.png" alt="UMI ULaval Movie Ima logo"/>
            <h1 class="brand--name">UMI</h1>
        </a>
    </div>
    <div class="pageMenu--search">
        <label for="pageSearchInput"><i class="mdi-action-search"></i></label><input id="pageSearchInput" class="search--input" type="text"/>
    </div>
    <div class="pageMenu--user">
        <button class="user--avatarButton">
            <img class="avatarButton--image userImage" src="/image/avatar-daruma.jpg" alt="User avatar"/>
            <img class="avatarButton--image defaultImage" src="/image/default-square-avatar.png" alt="User default avatar"/>
        </button>
        <button class="user--watchListButton waves-effect waves-red btn-flat">Watchlist</button>
    </div>
</nav>

