<div class="loginPage">
    <div class="center-align">
        <img class="avatarButton--image defaultImage" src="/image/default-square-avatar.png" alt="User default avatar"/>
        <h2>Login</h2>
    </div>
    <div class="divider"></div>
    <div class="loginForm">
        <div class="card-panel red invalidInfo-card">Invalid email or password.</div>
        <div class="input-field col s6 offset-s3">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s6 offset-s3">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <button class="loginFormButton waves-effect waves-light btn">Login</button>
        <button class="loginFormButton waves-effect waves-light red btn">Sign up</button>
    </div>
</div>
